.board-title {
  color: #ffffff;
}

.columns-wrapper.css-u10pvi-MuiStack-root {
  margin-top: 16px;
  flex-direction: row;
  
}

.btn-create-column {
  background-color: #303f9f;
  align-self: baseline;
}