.board-card__wrapper {
  width: 275px;
  height: 180px;
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px,
      rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  }
}

.card-actions {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
