.board-column, .btn-create_task.MuiButtonBase-root {
  width: 100%;
  background-color: #dcebff;
  color: rgb(24, 43, 77);
}

.board-column {
  max-width: 280px;
  border-radius: 4px;
  padding: 8px;

  &__title.css-nen11g-MuiStack-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dcebff;
    cursor: pointer;
  }
}

.btn-create_task.MuiButtonBase-root {
  justify-content: start;
  margin-top: 5px;

  &:hover {
    background-color: #c4d5ee;
  }
}

.task-list {
  max-height: 60vh;
  padding: 0;
  overflow-y: auto;

  &__item {
    display: flex;
    margin: 10px 0;
    padding: 8px 3px 8px 8px;
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 150, 216);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 133, 211);
}