.main-image {
  display: inline-block;
  height: 80%;
}

.image-wrapper {
  max-height: 500px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-page__ {
  &section {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 5vw;
    border-radius: 10px;
  }

  &main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.team-section {
  align-items: center;
  flex-direction: column;
}

.main-heading {
  max-width: 350px;
  margin: 3rem 0;
}

.sub-heading {
  max-width: 450px;
}

.team__ {
  &card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  &img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  &tasks {
    max-width: 700px;
  }

  &name {
    color: black;
    text-decoration: none;
  }
}
